header {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    height: 60px;
}

main {
    min-height: 75vh;
}


footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}