<div>
    <h1> Bienvenido {{user.name}} </h1>

    {{#if user.isAdmin}}

    <section>
        <h4>Seccion de Admin</h4>


        <form action="">
            <label for="">Campo 1</label>
            <input type="text">
            <button type="submit">Publicar</button>
        </form>
    </section>
    {{else}}
    <strong>No sos admin.</strong>
    {{/if}}

    <ul>
        {{#each products}}
            <li>{{this.title}}</li>
        {{/each}}
    </ul>
</div>