
    <header>
        <h1> Chat</h1>
    </header>
    <main>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis veritatis minima earum laborum tenetur vel repellendus nulla totam, assumenda, rerum sint id impedit veniam quae illo delectus, saepe nobis dignissimos.</p>
        
    </main>
    <footer>
        <p> Coder | Programación Backend I | C81295</p>
    </footer>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        console.log('Cliente conetado el servidor socket');

    </script>