<header>
    <h1>Chat</h1>
</header>

<main>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque nisi, dolorem necessitatibus quis beatae dignissimos. Vero perspiciatis, possimus magnam non expedita officia atque vel tenetur, dolore et, deleniti iste earum.</p>
</main>

<footer>
    <p>Coder | Programacion backend I | C81295</p>
</footer>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>